* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Passion One', cursive;
    font-family: 'Sriracha', cursive;
}




html, body {
    height: 100vh;
    
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

h1 {
    font-family: 'Passion One', cursive;
    font-size: 10vw;
    font-variant: small-caps;   
    display: inline-block;
}

header > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#link {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#link:hover {
    opacity: .5;
    text-decoration: underline;
}

section {
    padding: 20px 0 20px 20px;
    font-family: 'Sriracha', cursive; ;
}

p {
    line-height: 2em;
    font-size: 2em;
}
.secao > p {
    padding-bottom: 2em;
    
}



.secao-imagem {
   color: white;
   background-repeat: no-repeat;
   background-position: right center;
   background-size: cover;
   background-attachment: fixed;
   box-shadow: inset 6px 6px 13px 0 black;
   
}

.secao-imagem > p {
    background-color: rgba(0, 0, 0, 0.271);
    display: inline-block;
    margin: 30px 0  30px 0;
    text-shadow: 2px 2px 1px black;
   
}
#img1 {
    background-image: url(./background001.jpg);
}
#img2 {
    background-image: url(./background002.jpg);
}

footer {
    background-color: black;
    color: white;font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

footer > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.footer {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
.footer:hover {
    opacity: .5;
    text-decoration: underline;
}

@media screen and (max-width: 1000px){
    
    p {
        font-size: 1.5em;
    }

    header > p {
        font-size: 1em;
    }

    

    section {
        width: auto;
    }

    .secao-imagem {
        background-position: center;
    }

    footer {
        font-size: .8em;
        padding: 10px;
        text-align: center;
    }

    
}

@media screen and (max-width: 700px){

    p {
        font-size: 1.2em;
    }

    header > p {
        font-size: .8em;
    }

    

    section {
        min-width: 700px;
    }

    .secao-imagem {
       background-position: center;
      
    }

    footer {
        
        padding: 10px;
        text-align: center;
    }

    footer > p {
        font-size: .7
        em;
    }

    
    
}

@media screen and (max-width: 415px){
    header {
       width: auto;
    }

    p{
        font-size: 1em;
    }
   
    header > p {
        font-size: .7em;
    }

    section {
      min-width: 415px;
        
    }

    .secao-imagem {
        background-position:center;
       
       
     }
 
     footer {
         
         
         padding: 5px;
         text-align: center;
     }

     footer > p {
        font-size: .7em;
     }
 



    
}

@media screen and (max-width: 391px){
    header {
       width: auto;
    }

    p{
        font-size: 1em;
    }
   
    header > p {
        font-size: .7em;
    }

    section {
      min-width: 390px;
        
    }

    .secao-imagem {
        background-position:center;
       
       
     }
 
     footer {
         
         
         padding: 5px;
         text-align: center;
     }

     footer > p {
        font-size: .7em;
     }
 



    
}

@media screen and (max-width: 376px){
    header {
       width: auto;
    }

    p{
        font-size: 1em;
    }
   
    header > p {
        font-size: .7em;
    }

    section {
      min-width: 375px;
        
    }

    .secao-imagem {
        background-position:center;
       
       
     }
 
     footer {
         
         
         padding: 5px;
         text-align: center;
     }

     footer > p {
        font-size: .7em;
     }
 



    
}